.jumbotron {
    background-image: url("./images/mighty-waves.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-x: top;
    max-height: 300px;
}

.nav-item {
    color: #fbe5b0;
}

.nav-item:hover {
    color: #f4c8aa;
}